
<div class="row">
    <div class="col-md-8">
<table class="table table-striped table-dark">
    <thead >
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Job</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ahmed</td>
        <td>Doctor</td>
        <td>cairo</td>
        <td>01147709023</td>
        <td><p> user&#64;example.com</p></td>


      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ahmed</td>
        <td>Doctor</td>
        <td>cairo</td>
        <td>01147709023</td>
        <td><p>user&#64;example.com</p></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ahmed</td>
        <td>Doctor</td>
        <td>cairo</td>
        <td>01147709023</td>
        <td><p> user&#64;example.com</p></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ahmed</td>
        <td>Doctor</td>
        <td>cairo</td>
        <td>01147709023</td>
        <td><p>user&#64;example.com</p></td>
      </tr>
      
    </tbody>
  </table>
</div>
<div class="col-md-4"></div>
</div>
